<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiuzhou.firewall.mapper.FirewallRuleIEC104Mapper">
	
	<insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="bean.id">
		INSERT INTO firewall_rule_iec104(
			`type`,
			`cot`,
			`coa`,
			`ioa_start`,
			`ioa_length`
		) VALUES (
			#{bean.type},
			#{bean.cot},
			#{bean.coa},
			#{bean.ioa_start},
			#{bean.ioa_length}
		)
	</insert>
	
	
	<update id="update">
		UPDATE 
			firewall_rule_iec104
		SET
			`type`=#{bean.type},
			`cot`=#{bean.cot},
			`coa`=#{bean.coa},
			`ioa_start`=#{bean.ioa_start},
			`ioa_length`=#{bean.ioa_length}
		WHERE
			`id`=#{bean.id}
	</update>
	
	
	<select id="getById" resultType="com.jiuzhou.firewall.bean.FirewallRuleModbusTcp">
		SELECT
			*
		FROM
			firewall_rule_iec104
		WHERE
			`id`=#{bean.id}
	</select>
	
	
	<insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
	    INSERT INTO firewall_rule_iec104(
			`type`,
			`cot`,
			`coa`,
			`ioa_start`,
			`ioa_length`
		) VALUES
	    <foreach collection="list" item="c" separator=",">
	        (
	        #{c.type},
	        #{c.cot},
	        #{c.coa},
	        #{c.ioa_start},
	        #{c.ioa_length}
	        )
	    </foreach>
	</insert>
	
	
</mapper>