<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiuzhou.plat.mapper.AuditWhitelistMapper">

	<insert id="insert">
		INSERT INTO audit_whitelist (
			source_ip,
			source_mac,
			ip_type,
			target_ip,
			target_mac,
			sport,
			dport,
			protocol,
			direction,
			add_time,
			add_user
		) VALUES (
			#{bean.source_ip},
			#{bean.source_mac},
			#{bean.ip_type},
			#{bean.target_ip},
			#{bean.target_mac},
			#{bean.sport},
			#{bean.dport},
			#{bean.protocol},
			#{bean.direction},
			#{bean.add_time},
			#{bean.add_user}
		)
	</insert>


	<select id="getWhitelistAll" resultType="com.jiuzhou.plat.bean.AuditWhitelist">
		SELECT
			*
		FROM
			audit_whitelist
		ORDER BY 
			id desc
	</select>
	
	
	<select id="getWhitelistById" resultType="com.jiuzhou.plat.bean.AuditWhitelist">
		SELECT
			*
		FROM
			audit_whitelist
		WHERE
			id=#{id}
	</select>
	
	
	<update id="updateWhitelistById">
		UPDATE
			audit_whitelist
		SET
			source_ip=#{bean.source_ip},
			source_mac=#{bean.source_mac},
			ip_type=#{bean.ip_type},
			target_ip=#{bean.target_ip},
			target_mac=#{bean.target_mac},
			sport=#{bean.sport},
			dport=#{bean.dport},
			protocol=#{bean.protocol},
			direction=#{bean.direction},
			update_time=#{bean.update_time},
			update_user=#{bean.update_user}
		WHERE
			id=#{bean.id}
	</update>
	
	<delete id="deleteWhitelistById">
		DELETE FROM audit_whitelist WHERE id=#{id}
	</delete>


</mapper>