<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiuzhou.plat.mapper.IsolationLogMapper">


	<insert id="insertBatch">
		INSERT INTO ${table_name} (
			`source_ip`,
			`target_ip`,
			`add_time`,
			`event_type`,
			`level`,
			`module`,
			`context`) 
		VALUES 
		<foreach collection="list" item="bean" index= "index" separator =",">
			(
			#{bean.source_ip},
			#{bean.target_ip},
			#{bean.add_time},
			#{bean.event_type},
			#{bean.level},
			#{bean.module},
			#{bean.context}
			)
		</foreach>
	</insert>
	
	<insert id="insertBatchBySql">
		INSERT INTO ${table_name} (`add_time`, `event_type`, `level`, `module`, `context`, `source_ip`, `target_ip`) VALUES ${sql}
	</insert>
	
	
	<insert id="insertBatchBySqls">
		INSERT INTO ${table_name} (`add_time`, `facility`, `severity`, `tag`, `origin`, `source_ip`, `target_ip`, `message`) VALUES 
		<foreach collection="sql" separator="," item="item">${item}</foreach>
	</insert>
	
	
	<select id="search" resultType="com.jiuzhou.plat.bean.IsolationLog">
		SELECT * FROM ${table_name} WHERE
		<choose>
			<when test="sort_field != null and sort_field != '' and sort_order != null and sort_order != '' and sort_order == ' DESC '">
				`id` &lt;=
			</when>
			<otherwise>
				`id` &gt;=
			</otherwise>
		</choose>
			( 
				SELECT id FROM ${table_name} 
				WHERE 1=1 
				<if test="condition != null and condition != ''">
					${condition}
				</if> 
				<choose>
					<when test="sort_field != null and sort_field != '' and sort_order != null and sort_order != ''">
						ORDER BY `id` ${sort_order}
					</when>
					<otherwise>
						ORDER BY `id` ASC
					</otherwise>
				</choose>
				LIMIT #{start},1
			)
			AND 1=1
		<if test="condition != null and condition != ''">
			${condition}
		</if>
		<choose>
			<when test="sort_field != null and sort_field != '' and sort_order != null and sort_order != ''">
				ORDER BY ${sort_field} ${sort_order}
			</when>
			<otherwise>
				ORDER BY `id` ASC
			</otherwise>
		</choose>
		LIMIT #{page_size}
	</select>	
	
	
	<select id="searchCount" resultType="int">
		SELECT 
			COUNT(*) 
		FROM 
			${table_name}
		WHERE
			1=1
		<choose>
			<when test="condition != null and condition != ''">
				${condition}
			</when>
			<otherwise>
				AND `id` &gt; 0
			</otherwise>
		</choose>
		
		
	</select>
	
	
	<select id="getReportByLevel" resultType="com.jiuzhou.plat.bean.AuditReportItem">
		SELECT 
			`level` AS `title`, 
			COUNT(*) AS `VALUE` 
		FROM 
			${table_name}
		GROUP BY 
			`level`
		ORDER BY 
			`level` ASC
	</select>
	
	
	<select id="getReportByModule" resultType="com.jiuzhou.plat.bean.AuditReportItem">
		SELECT 
			`tag` AS `title`, 
			COUNT(*) AS `VALUE` 
		FROM 
			${table_name}
		WHERE
			tag IN (${modules}) AND `severity` IN (${levels})
		GROUP BY 
			`tag`
		ORDER BY 
			`tag` ASC
	</select>
	
	
	<delete id="deleteByIds">
		DELETE FROM ${table_name}
		WHERE id IN
		<foreach collection="ids" item="id" separator="," open="(" close=")"> 
			#{id}
		</foreach>
	</delete>
	
	
	<select id="emptyLog">
		TRUNCATE TABLE ${table_name}
	</select>
	

</mapper>