<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiuzhou.plat.mapper.PlatDeviceMapper">
	
	
	<insert id="insert">
		INSERT INTO plat_device (
			`type`,
			`device_name`,
			`device_mark`,
			`manage_protocol`
			`ip_address`,
			`manage_port`,
			`access_url`,
			`device_mac`,
			`subnetmask`,
			`gateway`,
			`insert_time`
		) 
		VALUES (
			#{bean.type},
			#{bean.device_name},
			#{bean.device_mark},
			#{bean.manage_protocol},
			#{bean.ip_address},
			#{bean.manage_port},
			#{bean.access_url},
			#{bean.device_mac},
			#{bean.subnetmask},
			#{bean.gateway},
			#{bean.insert_time}
		)
	</insert>
	
	
	<select id="getAll" resultType="com.jiuzhou.plat.bean.PlatDevice">
		SELECT * FROM plat_device ORDER BY insert_time ASC
	</select>
	
	
	<select id="getById" resultType="com.jiuzhou.plat.bean.PlatDevice">
		SELECT * FROM plat_device WHERE `id`=#{id}
	</select>
	
	
	<select id="listByPage" resultType="com.jiuzhou.plat.bean.PlatDevice">
		SELECT 
			*
		FROM 
			plat_device
		ORDER BY id DESC 
		LIMIT #{start},#{end}
	</select>
	
	
	<select id="getCountForPage" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			plat_device
	</select>
	
	
	<update id="update">
		UPDATE
			plat_device
		SET
			`type` = #{bean.type},
			`device_name` = #{bean.device_name},
			`device_mark` = #{bean.device_mark},
			`manage_protocol` = #{bean.manage_protocol},
			`ip_address` = #{bean.ip_address},
			`manage_port` = #{bean.manage_port},
			`access_url` = #{bean.access_url},
			`device_mac` = #{bean.device_mac},
			`subnetmask` = #{bean.subnetmask},
			`gateway` = #{bean.gateway}
		WHERE
			`id` = #{bean.id}
	</update>
	
	
	<delete id="deleteById">
		DELETE FROM plat_device WHERE `id`=#{id}
	</delete>
	
	
	<select id="getDeviceCounts" resultType="com.jiuzhou.plat.bean.DeviceCount">
		SELECT  
			CASE `type` 
				WHEN '1' THEN '防火墙' 
				WHEN '2' THEN '审计' 
				WHEN '3' THEN '网关' 
				WHEN '4' THEN '漏扫' 
				WHEN '5' THEN '隔离' 
				WHEN '6' THEN 'IDS' 
				END AS `type_name`, 
			COUNT(*) AS `count`
		FROM plat_device GROUP BY `type` ORDER BY `count` DESC
	</select>
	
	
	<select id="getPlatLogCountList" resultType="com.jiuzhou.firewall.bean.FirewallReportCounter">
		SELECT * FROM firewall_report_counter WHERE `count_type`=4 ORDER BY id DESC LIMIT 10
	</select>
	
	
	<select id="getLastLogCountByType" resultType="com.jiuzhou.firewall.bean.FirewallReportCounter">
		SELECT * FROM firewall_report_counter 
		WHERE `count_type` IN
			<foreach item="id" collection="countTypes" open="(" separator="," close=")">
		        #{id}
		    </foreach> 
		    AND `count_date`=#{countDate}
	    ORDER BY `count_num` DESC
	</select>
	
</mapper>